* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* #7a6c5d, linear-gradient(90deg, rgba(65,0,0,1) 20%, rgba(3,52,7,1) 100%), #70e000, #ff7b00 */
:root {
  --back-color: #7a6c5d;
}

body {
  background: var(--back-color);
  display: flex;
  justify-content: center;
  padding-top: 65px;
  position: relative;
}
body p {
  color: white;
}

.colors {
  background-color: eae4e9;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  position: fixed;
  top: 0.5rem;
  left: 43.5%;
}
.circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 0.5rem;
}
.red {
  background-color: #242423;
}
.brown {
  background-color: rgb(121, 4, 4);
}
.blue {
  background-color: #10002b;
}
.orange {
  background-color: #ff7b00;
}

.All {
  width: 500px;
  height: 550px;
  background-image: linear-gradient(rgba(9, 2, 3, 0.7), rgba(9, 2, 3, 0.7)),
    url(one.png);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.container {
  margin: 20px 15px 20px 15px;
}
.container p {
  font-size: 19px;
  padding: 10px 0;
}
.style {
  background-color: transparent;
  height: 40px;
  display: flex;
  align-items: center;
}
.style span {
  padding-left: 15px;
  color: white;
  font-size: 20px;
  position: absolute;
}
.style input {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background: var(--back-color);
  border: none;
  outline: none;
  padding-left: 40px;
  font-size: 20px;
  color: white;
}
::placeholder {
  color: gray;
}
.container--bottom {
  display: flex;
  justify-content: space-between;
}
.controls {
  display: flex;
  align-items: center;
}
.controls button {
  background-color: var(--back-color);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
}
.controls button span {
  color: white;
}
.splitAmount {
  font-size: 30px;
  color: white;
  padding: 0 15px;
}
.total-per-person-contanar {
  text-align: right;
  color: white;
  font-size: 30px;
}

@media only screen and (max-width: 530px) {
  .All {
    width: 340px;
  }
  .colors {
    left: 24%;
  }
}
